/* Resets and initialization */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-size: 10px; */
  font-size: .52vw;
}

body{
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  background-color: #1d1d1d;
  /* height: 300vh; */
  background-image:
    url("../img/bg-top.jpg"),
    url("../img/bg-bottom.jpg");
  background-size: contain;
  background-repeat: no-repeat, repeat-y;
  background-position: 0 0, 0 calc(87.15vw - 20px);
}

button,
input,
textarea{
  font-family: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: normal;
  text-align: inherit;
  border: none;
  overflow: visible;
  color: inherit;
  background: transparent;
  outline: none;
  -webkit-appearance: none; /* Corrects inability to style clickable `input` types in iOS */
}

/* Fonts */

.heading{
  font-size: 6rem;
  margin-bottom: .58em;
  font-family: 'Playfair Display', serif;
  line-height: 1em;
  color: #ad7835;
  font-weight: 400;
}

.heading::after{
  font-size: .16em;
  display: block;
  content: "";
  margin-top: 1em;
  width: 9em;
  height: .3em;
  background-color: #ad7835;
}

.paragraph{
  font-size: 1.6rem;
  line-height: 1.75em;
  margin-bottom: 1.75em;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

/* Buttons */

.btn{
  font-size: 1.6rem;
  position: relative;
  align-self: flex-start;
  line-height: 2em;
  text-transform: uppercase;
  color: #ad7835;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
}

.btn--center{
  align-self: center;
}

.btn--clear::after{
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: .14em;
  background-color: #ad7835;
  transform: translateX(-100%);
}

.btn--clear:hover::after{
  transform: translateX(400%);
  transition: .8s;
}

.btn:hover .btn__arrow{
  transform: translateX(.2em) translateY(-.1em);
}

.btn:hover{
  color: #d8a562;
}

.btn--framed{
  display: block;
  position: relative;
  border: .06em solid #6b4922;
  min-width: 11.25em;
  padding: 0 2.5em;
  line-height: 3.5em;
  text-align: center;
  overflow: hidden;
}

.btn--social{
  font-size: 4rem;
  min-width: 0;
  width: 2em;
  line-height: 2em;
  padding: 0;
  border: .025em solid #6b4922;
}

.btn--framed.btn--social::after{
  left: -80%;
  width: .8em;
}

.btn--framed.btn--social:hover::after{
  left: 140%;
  transition: .8s;
}

.btn--framed::after{
  display: block;
  position: absolute;
  top: -100%;
  left: -30%;
  content: "";
  width: 2em;
  height: 300%;
  transform: rotate(-25deg);
  background-color:#ad7835;
}

.btn--framed:hover::after{
  left: 120%;
  transition: 1s;
}

.btn__arrow{
  font-size: .8em;
  line-height: 2.5em;
  margin-left: 1em;
  margin: 1em;
  transform: translateY(-.1em);
  transition: .5s;
}

/* Header */

.welcome{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Maskowanie przez png */
  /* czarny-widoczny, przezroczysty-ucięty */
  width: 100%; /* 100% szerokości obrazka by się pokrywał z maską */
  /* height: 60vw; obojętne */
  /* -webkit-mask-image: url("../img/bg-clip-path.png"); */
  -webkit-mask-image: url("../img/bg-clip-path.svg"); /* svg for faster loading */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-image: url("../img/bg-clip-path.svg");
  mask-repeat: no-repeat;
  mask-size: 100%;
  /* -------------------- */
}

.header{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17em;
  margin-bottom: 7em;
  padding: 7em 14em 10em;
  text-align: center;
  border: 1em solid #ad7835;
  color: #fff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 2s 1s, opacity 2s 1s;
}

.header__title{
  font-size: 18em;
  margin-bottom: .166em;
  font-family: 'Playfair Display', serif;
  line-height: 1em;
  letter-spacing: .055em;
}

.header__quote{
  font-size: 2.4em;
  color: #ad7835;
  text-transform: uppercase;
  font-weight: bold;
}

.header__subtitle{
  font-size: 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: -1;
  position: relative;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.header__subtitle::after{
  font-size: .416em;
  display: block;
  content: "";
  margin-top: 1em;
  width: 9em;
  height: .3em;
  background-color: #fff;
}

/* Info */

.info{
  font-size: 1rem;
  display: flex;
  margin: 28em auto;
  width: 130em;
  max-height: 56em;
  background-color: #373737;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.3);
  transition: 1s;
}

.info__container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  padding: 6em 7em;
}

.info__paragraph{
  flex: 1;
  margin-bottom: 3.5em;
  overflow: hidden;
}

.info__container--image{
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -5em;
  margin-bottom: -5em;
}

.info__container--left{
  padding-left: 0;
}

.info__container--right{
  padding-right: 0;
}

.info__image{
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.3);
}

/* articles section */

.articles{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28em auto 40em;
  width: 130em;
  /* max-height: 56em; */
  /* background-color: #373737; */
  /* box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.3); */
}

.articles__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #f002; */
  /* border: 2px solid #f00; */
}

.articles__article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 29%;
  transition: .3s;
  /* background-color: #0f02; */
}

.articles__article:nth-child(2){
  transform: translateY(8em);
}

.articles__article:hover{
  transform: translateY(.5em);
}

.articles__article:hover:nth-child(2){
  transform: translateY(8.5em);
}

.articles__img-container{
  position: relative;
  align-self: flex-end;
  margin-top: 8em;
  margin-bottom: 3em;
  width: 92%;
  height: 23.5em;
}

.articles__img-container::after,
.articles__img-container::before{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373737;
  box-shadow: 0px 0px 8em 0px rgba(0,0,0,.3);
  z-index: -1;
  transform: translate(-3em, -3em);
}

.articles__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 8em 0px rgba(0,0,0,.3);
}

.articles__title{
  position: relative;
  font-size: 2em;
  font-weight: 400;
  line-height: 2.5em;
  letter-spacing: .04em;
  margin-bottom: 1.25em;
  font-family: 'Playfair Display', serif;
  color: #ad7835;
  border-bottom: .05em solid #ad7835;
}

.articles__paragraph{
  max-height: 11em;
  overflow: hidden;
  flex: 1;
  transition: 1s;
}

/* contact */

#contact{
  max-height: none;
  min-height: 56em;
}

.contact__container{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}

.contact__container-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact__input{
  position: relative;
  width: 45%;
  margin-bottom: 5em;
}

.contact__input--full-width{
  width: 100%;
}

.contact__text,
.contact__textarea{
  position: relative;
  font-size: 1.6em;
  line-height: 3.5em;
  padding: 0 .5em;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  border-bottom: .06em solid #999;
  resize: none;
  overflow: hidden;
  z-index: 1;
}

.contact__info{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6em;
  line-height: 3.5em;
  padding-left: .5em;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  transition: .3s;
}

.contact__text:focus + .contact__info,
.contact__text:valid + .contact__info,
.contact__textarea:focus + .contact__info,
.contact__textarea:valid + .contact__info{
  font-size: 1.4em;
  transform: translateY(-70%);
}

.contact__warning{
  font-size: 1.8em;
  width: 50%;
  margin-left: 2em;
  font-family: 'Raleway', sans-serif;
  color: #f00;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  opacity: 0;
  transition: opacity .5s;
}

.contact__warning--success{
  color: #d8a562;
}

.contact__warning--on,
.contact__warning:hover{
  opacity: 1;
}

/* footer */

.footer{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 14em;
}

.footer__item{
  text-decoration: none;
  margin: 0 1.5em;
}

/* welcome section for js */

.header--changed{
  transform: translateY(0);
  opacity: 1;
}

/* about section for js*/

.about--changed{
  max-height: 95em;
}

/* articles section for js */

.articles__paragraph--changed{
  max-height: 40em;
}